input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

/* HOME UTAMA */
div.main-content {
    margin-top: 50px;
}

span.q-cart {
    padding: 4px;
    font-size: 10px;
}

div.belum-pesan {
    padding: 30px;
}

div.belum-pesan p {
    font-size: 0.9em;
}

a.produk {
    padding: 3px;
    text-decoration: none;
    font-size: 13px;
    color: rgb(89, 89, 89);
}

p.nama-produk {
    line-height: 17px;
}

div.diskon p, div.diskon s {
    padding: 5px;
    font-size: 12px;
}

b.harga-produk {
    font-size: 15px;
}

div.kategori {
    width: 500px;
    height: 400px;
    overflow: scroll;
}

div.kategori div.row {
    padding: 25px;
}

div.kategori div.row li a {
    color: rgb(89, 89, 89);
}

.multi-column-dropdown li {
    list-style-type: none;
}

div.penawaran a.produk img {
    border-radius: 10px;
}

div.wisata a.produk img.image {
    position: relative;
}

div.wisata a.produk div.card-img-overlay {
    background-color: #38c5a0;
    opacity: 80%;
}

/* WISATA */
div.cari-wisata {
    width: 100%;
}

div.wisata-layout-kanan img {
    width: 35%;
    height: 30%;
}

div.body-artikel-wisata {
    color: #6c757d ;
}

a.share-sosmed {
    border-radius: 500px;
}

div.rekomendasi-wisata {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    width: 100%;
}

div.rekomendasi-wisata img {
    width: 100%;
}

div.rekomendasi-wisata h5, div.artikel-umum h5 {
    color: #6c757d;
}

/* ARTIKEL UMUM */


/* DETAIL PRODUK */
div.foto-detail-produk div.tile {
    margin-top: -100px;
    margin-bottom: 25px;
}

div.add-to-cart {
    margin-top: 25px;
}

div.info-toko img {
    border-radius: 200px;
}

div.popup-chat {
    display: none;
    width: 90%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

button.tombol-chat {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 999;
}

div.bintang-ulasan i {
    font-size: 15px;
}

div.foto-pengulas img, div.komentar div.balasan-penjual img {
    border-radius: 300px;
}

div.komentar {
    width: 100%;
}

div.balasan-penjual {
    padding: 25px;
    border-radius: 10px;
}

hr.hr-keranjang {
   height: 8px;
   border-radius: 50px;
   background-color: rgb(242, 242, 242);
}

div.keranjang img.gambar-produk-keranjang {
    border-radius: 8px;
}

div.ringkasan-belanja {
    margin-top: 20px;
}

div.ringkasan-belanja div.total-keseluruhan {
    font-size: 16.5px;
}

/* PROFIL TOKO */
div.header-profil-toko {
    padding: 20px;
    box-shadow:4px 4px 20px 0.5px rgb(211, 211, 211);
    border-radius: 15px;
}

div.header-profil-toko div.col-lg-6.col-md-6.col-12.d-flex:nth-child(2){
    margin-top: 20px;
}

div.header-profil-toko img {
    border-radius: 50px;
}

div.nilai-kualitas-produk div.text-warning i {
    font-size: 20px;
}

/* CHECKOUT */
span.label-rumah {
    padding: 3px;
    font-size: 10px;
    border-radius: 3px;
}

div.ket-harga-1 {
    margin-bottom: -20px;
}

div.pil-alamat-utama {
    border: 2px dotted #38c5a0;
}

div.pil-alamat {
    border: 2px solid rgb(230, 230, 230);
}

div.pil-alamat, div.pil-alamat-utama {
    padding: 20px;
    border-radius: 10px;
}

/* PANTAU PESANAN */
i.icon-shop {
    font-size: 30px;
}

/* INVOICE */
div.invoice-title h2 {
    margin-bottom: 50px;
}

/* DAFTAR */
img.ilus-daftar {
    width: 100%;
}

div.tombol-daftar a.btn {
    width: 100%;
    margin-bottom: 20px;
}

/* LOGIN */
body.login-page {
    background-image: url("../../assets/img/bg-login.jpg");
    background-size: cover;
    background-repeat: repeat-y;
}

body.login-page::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    opacity: 70%;

}

div.form-login {
    position: relative;
    z-index: 999;
    width: 80%;
    margin-top: 90px;
}

div.form-login img {
    width: 250px;
}

div.form-login a.tombol-login {
    width: 100%;
}

div.verifikasi-wrapper {
    width: 100%;
}

div.verifikasi-wrapper img {
    width: 100%;
}

input[type="text"].input-kode-verifikasi {
    width: 10%;
    margin-left: 10px;
}

div.verifikasi-wrapper a.btn {
    width: 30%;
}

div.lupa-password, div.kode-password, div.password-baru {
    width: 100%;
}

div.lupa-password a.btn, div.kode-password a.btn, div.password-baru a.btn {
    width: 100%;
}

div.ajakan-umkm {
    width: 100%;
}

div.image-preview.profil {
    background-image: url("../img/avatar/foto.png");
    background-size: cover;
}

/* DAFTAR UMKM */
div.form-daftar-umkm {
    width: 100%;
}

img.image-default {
    background: url("../img/news/img02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img.image-default-produk {
    background: url("../img/produk/ingkung-waroeng-ndesso.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* img.image-default-produk-2 {
    background: url("https://cf.shopee.co.id/file/2a4482c8bfb4dd170ea5b33e86c08854");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img.image-default-produk-3 {
    background: url("https://cf.shopee.co.id/file/2a4482c8bfb4dd170ea5b33e86c08854");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img.image-default-produk-4 {
    background: url("https://cf.shopee.co.id/file/2a4482c8bfb4dd170ea5b33e86c08854");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

/* DASHBOARD UMKM */
div.widget-edukasi img {
    border-radius: 10px;
}

div.text-widget-edukasi {
    font-size: 0.90em;
}

div.text-widget-edukasi p {
    line-height: 1.50em;
    margin-top: 7px;
}

/* EDIT INFO UMKM */
div.image-preview.foto-info-umkm {
    background-image: url("../img/warung-ndeso.png");
    background-size: cover;
}

/* TAMBAH PRODUK */
div.upload-foto-produk {
    width: 100%;
    margin-bottom: 100px;
}

div.upload-foto-produk img {
    width: 100%;
    height: 100%;
}

/* PENJUALAN */
div.pesanan-baru {
    border: solid 1px rgb(232, 232, 232);
    border-radius: 15px;
    padding: 30px;
}

/* CHAT PENJUAL */
li.media div.media-body p {
    font-size: 0.8em;
    line-height: 1.90em;
    margin-top: 15px;
}

/* TENTANG */
div.konten-utama-tentang img {
    width: 100%;
}

/* PUSAT BANTUAN */
input[type="text"].input-pusat-bantuan {
    width: 55%;
}

img.ilus-pusat-bantuan {
    width: 100%;
}

p i.ikon-kategori-konsultasi {
    font-size: 55px;
}

div.pertanyaan {
    width: 70%;
}

div.pertanyaan a b {
    font-size: 14px;
}

img.ilus-chat-admin {
    width: 100%;
}

/* EDUKASI UMKM */
a.card-konten-edukasi {
    text-decoration: none;
}

a.card-konten-edukasi p, a.card-konten-edukasi h6, div.card-body h5.mt-3 {
    color: #6c757d;
}

/* LOGIN ADMIN */
.login-admin div.row{
    background-color: white;
    width: 80%;
    margin-top: 60px;
}

div.bg-login-admin {
    background: url("https://cdn-2.tstatic.net/jogja/foto/bank/images/lurah-guwosari-pajangan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

a.btn-login-admin {
    width: 100%;
}

/* DASHBOARD ADMIN */
div.icon-untung {
    background-color: #38c59f6b;
    width: 50px;
    height: 50px;
}

div.icon-rugi {
    background-color: #fc544b6e;
    width: 50px;
    height: 50px;
}

/* EDIT DATA ADMIN */
div.image-preview.foto-edit-data-admin {
    background-image: url("../img/avatar/admin.png");
    background-size: cover;
}

/* EDIT ARTIKEL ADMIN */
div.image-preview.sampul-artikel {
    background-image: url("https://res.klook.com/image/upload/fl_lossy.progressive,q_85/c_fill,w_400,h_260/Blog_Cover_ID_-_Tempat_Wisata_di_Semarang_hrimmu.webp");
    background-size: cover;
}

@media (min-width: 992px) {

    div.main-content {
        margin-top: 0;
    }

    div.kategori {
        width: 800px;
        height: auto;
        overflow:unset;
    }

    div.cari-wisata {
        width: 40%;
    }

    div.wisata-layout-kanan img {
        width: 35%;
    }

    div.foto-detail-produk div.tile {
        margin-bottom: 15px;
    }

    div.add-to-cart {
        margin-top: 0;
    }

    div.popup-chat {
        display: none;
        width: 25%;
        position: fixed;
        bottom: 50px;
        right: 30px;
    }

    div.komentar {
        width: 55%;
    }

    div.ringkasan-belanja {
        margin-top: 0;
    }

    div.invoice-title {
        margin-top: 0;
    }
    
    div.invoice-title h2 {
        margin-bottom: 0;
    }

    div.header-profil-toko div.col-lg-6.col-md-6.col-12.d-flex:nth-child(2){
        margin-top: 0;
    }

    div.tombol-daftar a {
        width: unset;
        margin-left: 5px;
    }

    body.login-page {
        background-position-y: -200px;
    }

    div.form-login {
        position: relative;
        z-index: 999;
        width: 30%;
        margin-top: 6px;
    }

    div.form-login img {
        width: 306px;
    }

    div.verifikasi-wrapper {
        width: 40%;
    }

    div.verifikasi-wrapper img {
        width: 70%;
    }

    div.lupa-password, div.kode-password, div.password-baru {
        width: 35%;
    }

    div.ajakan-umkm {
        width: 49%;
    }

    div.form-daftar-umkm {
        width: 60%;
    }

    div.upload-foto-produk {
        width: 16%;
    }

    div.upload-foto-produk img {
        width: 123px;
        height: 123px;
    }

    div.konten-utama-tentang img {
        width: 40%;
    }

    img.ilus-chat-admin {
        width: 35%;
    }

    div.rekomendasi-wisata {
        width: 80%;
    }

    div.rekomendasi-wisata img {
        width: 300px;
    }

    .login-admin div.row{
        width: 50%;
    }

    div.bg-login-admin {
        height: 100%;
    }

}